<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="/login" method="post">
            <fieldset>
                <legend>Login</legend>
                {{> user-form}}
            </fieldset>
        </form>
</div>
